.scroll-indicator {
  box-shadow: 0 10px 20px rgb(0 0 0 / 50%);
  position: fixed;
  bottom: 0;
  left: 0;
  height: 8px;
  width: 90%;
  right: 0;
  background: #f1f1f1;
  margin: 0 auto 4px auto;
  border-radius: 4px;
  overflow: hidden;
}

.scroll-indicator__progress-bar {
  height: 100%;
  width: 50%;
  transition: all ease-out 0.2s;
}
